
*{
    padding: 0%;
    margin: 0%;
}
#main{
    width: auto;
    height: auto;
    margin-top: 18%;
    /* border: 1px solid black; */
}
   #navmain{
    width: 100%;
    height: auto;
    /* border-bottom: 1px solid black; */
    position: fixed;
    z-index: 1;
    top: 0%;
   }
   #navbar{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid lightgray;
    margin-top: 0%;
    background-color: white;
    display: flex;
   }
   #dropdown{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: white;
   }
#firstAd{
    width: 60%;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
}
#top_categories{
    width: 60%;
    height: 120px;
    border: 1px solid black;
    margin: auto;
    margin-top: 3%;
}

#secondAd{
    width: 60%;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}

#thirdAd{
    width: 60%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}
#fourthAd{
    width: 60%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}
#fifthAd{
    width: 60%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}

/* CSS part for mid-Section *********************************/

#heading{
 width: 75%;
 height: auto;
 margin: auto;
 text-align: left;   
 margin-top: 3%;
}

#mid-section{
    width: 75%;
    height: 1000px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 3%;
    display: flex;
    gap: 15px;
}

#filter-div{
    width: 24%;
    height: 900px;
}
#item-div{
    width: 75%;
    height: 100%;
    border: 1px solid red;
}

#leftside{
    width: 45%;
    height: 90%;
    border: 1px solid black;
}
#leftside>img{
    width: auto;
    height: 100%;
}
#leftside>input{
    /* width:; */
}

#rightside{
    width: 45%;
    height: 90%;
    border: 1px solid black;
}
/* sorting*/
#selectField{
    display: flex;
    height: 55px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}
#selectField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(255,255,255);
    width: 15%;
}
.options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.options:hover{
    background: rgb(250, 207, 214);
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* done sorting */
#filter{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    height: 4000px;
    margin-top: 30px;
    border-radius: 6px;
    padding-top: 15px;
    
}
#filter_one{
    width: 85%;
    margin: auto;
}
#filter_one hr{
    width: 180px;
    margin: auto;
}
#filter_one p{
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 15px;
    /* margin-left: 25px; */
}
/* #filter>h4{
    margin-left: 25px;
} */
#all_dropdown{
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

/* category start */
#categoryField{
    display: flex;
    height: 55px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#categoryField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#C_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.C_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.C_options:hover{
    background: white;
}
.C_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}