
*{
    padding: 0%;
    margin: 0%;
}
#main{
    width: auto;
    height: auto;
    margin-top: 18%;
    /* border: 1px solid black; */
}
   #navmain{
    width: 100%;
    height: auto;
    /* border-bottom: 1px solid black; */
    position: fixed;
    z-index: 1;
    top: 0%;
   }
   #navbar{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid lightgray;
    margin-top: 0%;
    background-color: white;
    display: flex;
   }
   #dropdown{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: white;
   }
#firstAd{
    width: 60%;
    height: 400px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
}
#top_categories{
    width: 60%;
    height: 120px;
    border: 1px solid black;
    margin: auto;
    margin-top: 3%;
}

#secondAd{
    width: 60%;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}

#thirdAd{
    width: 60%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}
#fourthAd{
    width: 60%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}
#fifthAd{
    width: 60%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
}

/* CSS part for mid-Section *********************************/

#heading{
 width: 75%;
 height: auto;
 margin: auto;
 text-align: left;   
 margin-top: 3%;
}

#mid-section{
    width: 75%;
    height: 1000px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 3%;
    display: flex;
    gap: 15px;
}

#filter-div{
    width: 24%;
    height: 900px;
}
#item-div{
    width: 75%;
    height: 100%;
    border: 1px solid red;
}

#leftside{
    width: 45%;
    height: 90%;
    border: 1px solid black;
}
#leftside>img{
    width: auto;
    height: 100%;
}
#leftside>input{
    width:;
}

#rightside{
    width: 45%;
    height: 90%;
    border: 1px solid black;
}
/* sorting*/
#selectField{
    display: flex;
    height: 55px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}
#selectField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: absolute;
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(255,255,255);
    width: 15%;
}
.options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.options:hover{
    background: rgb(250, 207, 214);
}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* done sorting */
#filter{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    height: 4000px;
    margin-top: 30px;
    border-radius: 6px;
    padding-top: 15px;
    
}
#filter_one{
    width: 85%;
    margin: auto;
}
hr{
    width: 220px;
    margin: auto;
}
#filter_one p{
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 15px;
    /* margin-left: 25px; */
}
/* #filter>h4{
    margin-left: 25px;
} */
#all_dropdown{
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

/* category start */
#categoryField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#categoryField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#C_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.C_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.C_options:hover{
    background: rgb(190, 177, 177);
}
.C_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
#genderField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#genderField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#G_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.G_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.G_options:hover{
    background: rgb(190, 177, 177);
}
.G_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
#fabricField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#fabricField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#f_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.f_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.f_options:hover{
    background: rgb(190, 177, 177);
}
.f_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
#colorField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#colorField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#c_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.c_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.c_options:hover{
    background: rgb(190, 177, 177);
}
.c_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
#priceField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#priceField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#p_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.p_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.p_options:hover{
    background: rgb(190, 177, 177);
}
.p_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}

/* meesho mall */

#meesho_mallField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#meesho_mallField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#mm_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.mm_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.mm_options:hover{
    background:rgb(190, 177, 177);
}
.mm_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}

/* occassion */

#occassionField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#occassionField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#occ_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.occ_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.occ_options:hover{
    background: rgb(190, 177, 177);
}
.occ_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}

/* discount */

#discountField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#discountField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#D_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.D_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.D_options:hover{
    background: rgb(190, 177, 177);
}
.D_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}

/* rating */

#ratingField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#ratingField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#R_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.R_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.R_options:hover{
    background: rgb(190, 177, 177);
}
.R_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}

/* size */

#sizeField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#sizeField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#S_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.S_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.S_options:hover{
    background: rgb(190, 177, 177);
}
.S_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* combo */
#comboField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#comboField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#combo_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.combo_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.combo_options:hover{
    background: rgb(190, 177, 177);;
}
.combo_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* material */
#materialField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#materialField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#M_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.M_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.M_options:hover{
    background: rgb(190, 177, 177);;
}
.M_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* bottom length */
#bottom_lengthField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#bottom_lengthField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#BL_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.BL_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.BL_options:hover{
    background: rgb(190, 177, 177);;
}
.BL_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* bottom style */
#bottom_styleField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#bottom_styleField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#BS_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.BS_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.BS_options:hover{
    background: rgb(190, 177, 177);;
}
.BS_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* bottom fabric */
#bottom_fabricField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#bottom_fabricField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#BF_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.BF_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.BF_options:hover{
    background: rgb(190, 177, 177);;
}
.BF_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* bottom type */
#bottom_typeField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#bottom_typeField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#BT_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.BT_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.BT_options:hover{
    background: rgb(190, 177, 177);;
}
.BT_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* inner fabric */
#innerField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#innerField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#inner_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.inner_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.inner_options:hover{
    background: rgb(190, 177, 177);;
}
.inner_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* loom type */
#loomField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#loomField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#loom_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.loom_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.loom_options:hover{
    background: rgb(190, 177, 177);;
}
.loom_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* heat up time */
#timeupField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#timeupField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#timeup_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.timeup_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.timeup_options:hover{
    background: rgb(190, 177, 177);;
}
.timeup_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* closure */
#closeField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#closeField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#close_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.close_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.close_options:hover{
    background: rgb(190, 177, 177);;
}
.close_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* display digit */
#digitField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#digitField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#digit_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.digit_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.digit_options:hover{
    background: rgb(190, 177, 177);;
}
.digit_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* no of paint shades */
#noofField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#noofField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#noof_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.noof_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.noof_options:hover{
    background: rgb(190, 177, 177);;
}
.noof_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* length */
#lengthField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#lengthField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#length_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.length_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.length_options:hover{
    background: rgb(190, 177, 177);;
}
.length_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* suitable for */
#forField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#forField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#for_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.for_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.for_options:hover{
    background: rgb(190, 177, 177);;
}
.for_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* sticking area */
#areaField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#areaField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#area_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.area_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.area_options:hover{
    background: rgb(190, 177, 177);;
}
.area_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* range */
#rangeField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#rangeField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#range_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.range_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.range_options:hover{
    background: rgb(190, 177, 177);;
}
.range_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* bluetooth */
#blueField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#blueField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#blue_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.blue_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.blue_options:hover{
    background: rgb(190, 177, 177);;
}
.blue_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* blade material */
#bladeField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#bladeField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#blade_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.blade_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.blade_options:hover{
    background: rgb(190, 177, 177);;
}
.blade_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* finish material */
#finishField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#finishField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#finish_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.finish_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.finish_options:hover{
    background: rgb(190, 177, 177);;
}
.finish_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* material */
#matField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#matField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#mat_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.mat_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.mat_options:hover{
    background: rgb(190, 177, 177);;
}
.mat_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* interface */
#interField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#interField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#inter_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.inter_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.inter_options:hover{
    background: rgb(190, 177, 177);;
}
.inter_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* no of pages */
#pageField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#pageField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#page_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.page_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.page_options:hover{
    background: rgb(190, 177, 177);;
}
.page_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* ruled */
#ruledField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#ruledField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#ruled_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.ruled_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.ruled_options:hover{
    background: rgb(190, 177, 177);;
}
.ruled_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* strap color */
#strapField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#strapField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#SC_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.SC_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.SC_options:hover{
    background: rgb(190, 177, 177);;
}
.SC_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* display type */
#displayField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#displayField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#dis_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.dis_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.dis_options:hover{
    background: rgb(190, 177, 177);;
}
.dis_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* dial color */
#dialField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#dialField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#dial_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.dial_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.dial_options:hover{
    background: rgb(190, 177, 177);;
}
.dial_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* base metal */
#baseField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#baseField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#base_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.base_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.base_options:hover{
    background: rgb(190, 177, 177);;
}
.base_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
/* add on */
#addField{
    display: flex;
    height: 15px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    /* margin-bottom: 30px; */
    /* box-sizing: border-box; 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
} */
}
#addField img{
    width: 12px;
    /* padding-left: 90px; */
    font-size: 25px; 
}
#add_list{
    /* width: 18%; */
    border-radius: 6px;
    /* overflow: hidden; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;  */
    position: absolute;
    /* padding: 20px; */
    width: 17.8%;
    background-color: rgb(255,255,255);
}
.add_options{
    /* width: 100%;
    padding: 15px;
    list-style: none; */
    cursor: pointer;
    /* box-sizing: border-box; */
    display: flex;
    height: 55px;
    padding: 0 16px;
    border-radius: 6px;
    align-items: center;
}
.add_options:hover{
    background: rgb(190, 177, 177);;
}
.add_hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}