
*{
    padding: 0%;
    margin: 0%;
}
#main{
    width: auto;
    height: auto;
    margin-top: 15%;
    /* border: 1px solid black; */
}
   #navmain{
    width: 100%;
    height: auto;
    background-color: white;
    /* border-bottom: 1px solid black; */
    position: fixed;
    z-index: 1;
    top: 0%;
   }
   #navbar{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid lightgray;
    margin-top: 0%;
    background-color: white;
    display: flex;
   }
   #dropdown{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    background-color: white;
   }
#firstAd{
    width: 80%;
    height: 350px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
}

#firstAd>div{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    border-radius: 5px;
}


#top_categories{
    width: 80%;
    height: 100px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 3%;
    font-size: larger;
}

#secondAd{
    width: 80%;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    display: flex;
    gap: 15px;
    padding: 2%;
    border-radius: 5px;
    justify-content: space-around;
    background-image: url(./wallpaperflare.com_wallpaper\ \(1\).jpg);
}
#heading>h1{
    font-family: unset;
}

#thirdAd{
    width: 80%;
    height: 450px;
    border: 1px solid white;
    margin: auto;
    margin-top: 5%;
    background-image:url(./homeback.jpg);
    background-size: 100%;
    filter: brightness(120%);
    height: 450px;
    background-position:25% 50%; 
    border-radius: 5px;

}
#thirdAd>div{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
}
#left3{
    width: 38%;
    height: 100%;
    /* border: 1px solid blue; */

}
#left3>h1{
    color: rgb(33, 101, 33);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-top: 10%;
    margin-left: 15%;
}
#left3>a>img{
    width: 150px;
    height: auto;
    margin-top: 5%;
    margin-left: 25%;
    
}
#right3{
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}
#right3>div{
    width: 30%;
    height: 100%;
    /* border: 1px solid green; */
}
.up{
    width: 95%;
    height: 80%;
    border: 4px  solid gray;
    margin: auto;
    margin-top: 4%;
    border-radius: 5px;
}
.up>a>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.down{
    width: 75%;
    height: 13%;
    border: 2px solid gray;
    margin: auto;
    margin-top: 7%;
    background-color: lightgrey;
    border-radius: 5px;

}
.down>a>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#fourthAd{
    width: 80%;
    height: 500px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 5%;
    background-image: url(./fourthimg.webp);
}

#fourthAd>div{
    width: 60%;
    height: 100%;
    margin-left: 40%;
    /* border: 1px solid black; */
    padding: 3%;
    
    text-align: right;
}
#fourthAd>div>h2{
    color: rgb(31, 145, 190);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#fourthAd>div>h1{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
#fourthAd>div>div{
    width: 320px;
    height: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-top: 4%;
}
#fourthAd>div>div>img{
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 30%;
}
#fifthAd{
    width: 80%;
    height: 280px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 5%;
    background-image: url(./register.webp);
    border-radius: 5px;
    padding: 3%;
    text-decoration: none;
}
#fifthAd>h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: no;
}

#fifthAd>h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fifth1{
    width: 65%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#fifth1>div{
    border-right: 1px solid wheat;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fifth1>div>img{
    width: 20px;
    height: 20px;
}


#signup{
    width: 150px;
    height: 50px;
    border: 1px solid wheat;
    margin-left: 30px;
    border-radius: 5px;
    align-items: center;
    background-color: white;
    color: rgb(243, 85, 111);
    font-weight: bolder;
    text-align: center;
    padding: 1%;
}



/* ********************************************************************** */



* {
    box-sizing: border-box;
  }
  :root {
    --hoverTextColor: rgb(244, 51, 151);
    --textColor: rgb(87, 85, 85);
  }
  
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--textColor);
  }
  img {
    width: 100%;
  }
  .header {
    width: 100%;
    height: 72px;
    outline: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    position: fixed;
    background-color: white;
  }
  .headerLeft,
  .headerRight {
    display: flex;
    align-items: center;
  }
  .logoContainer {
    width: 155px;
  }
  
  .searchInputContainer {
    width: 400px;
    height: 45px;
    outline: 1px solid rgb(126, 126, 126);
    display: flex;
    margin-left: 25px;
    border-radius: 3px;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  .searchIcon {
    width: 20px;
    margin: 6px;
  }
  form{
      width: 100%;
  }
  .inputSearch{
      width: 100%;
      border:none;
      outline: none;
      font-size: 16px;
  }
  #closeSearch{
      display: none;
  }
  .searchRecentProduct{
      position: absolute;
      bottom: 0;
      left:0;
      top:45px;
      background-color: white;
      height: 400px;
      width: 100%;
      display: none;
      padding: 15px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
      z-index: 3;
  }
  .searchInputContainer:focus-within .searchRecentProduct{
      display: block;
      background-color: white;
  }
  .recentIcon{
      width: 20px;
      margin-right: 10px;
  }
  .recentItem{
      display: flex;
      align-items: center;
      background-color: white;
  }
  
  
  /***Right***/
  
  .mobileIcon{
      width: 15px;
      margin: 5px;
  }
  .downloadContainer{
      display: flex;
      align-items: center;
      height: 100%;
      padding-right: 20px;
      position: relative;
  }
  .downloadContainer:hover{
      color:var(--hoverTextColor);
      cursor: pointer;
  }
  .downloadBtn{
      display: block;
      width: 180px;
      margin-top: 5px;
  }
  .downloadHoverBtnContainer{
      position: absolute;
      bottom: 0;
      top:53px;
      width: 200px;
      display: none;
      height: 200px;
      padding: 10px;
      margin-left: -30px;
      color:var(--textColor);
      background: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      z-index: 2;
  }
  .downloadContainer:hover .downloadHoverBtnContainer,
  .downloadContainer:focus .downloadHoverBtnContainer{
      display: block;
  }
  
  .downloadContainer p{
      margin:0;
      padding: 0;
      font-size: 17px;
  }
  
  .profileAndCart{
      display: flex;
      align-items: center;
      
  }
  #icon-style:hover,
  .profileIcon:hover{
      color: var(--hoverTextColor);
      cursor: pointer;
  }
  
  .profileIcon,
  .CartIcon{
      width: 20px;
  }
  #icon-style{
      margin-top: 0px;
      margin-bottom: 13px;
  }
  
  .profileContainer,
  .CartContainer{
      padding: 0px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .becomeSupplierContainer{
      padding: 0px 30px;
      border-left: 1.5px solid #ccc;
      border-Right: 1.5px solid #ccc;
      font-size: 17px;
  }
  
  /**NavBar ***/
  
  nav{
      width: 100%;
      border-bottom: 1px solid #ccc;
      height: 54px;
      position: fixed;
      margin-top: 5%;
      background-color: white;
  }
  nav ul{
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      height: 100%;
      margin: 0; 
      position: relative;
  }
  nav ul li{
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      border-bottom: 2px solid transparent;
      cursor: pointer; 
      
  }
  nav ul li:hover{
      color:var(--hoverTextColor);
      border-bottom: 4px solid var(--hoverTextColor);
  }
  
  
  /* Drop Down SubMenu  */
  
  .subMenu{
      position: absolute;
      top:54px;
      left: 0;
      right: 0;
      background-color: white;
      box-sizing: border-box;
      display: none;
      margin: 0px 10px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      padding-left: 20px;
  }
  
  nav ul li:hover .subMenu{
      display: block;
  }
  
  .subMenu p{
      color:var(--textColor)
  
  }
  .submenuList{
      display: flex;
  
  }
  .column{
      margin-right: 40px;
  }
  .subMenu div:nth-child(even){
      background-color: #f9f9f9;
  }
  
  /* Signin/SignUp DropDown  */
  
  .dropdown {
      display: inline-block;
      position: fixed;
    }
    
    .dropdown-options {
      display: none;
      position: absolute;
      overflow: auto;
      background-color:#fff;
      border-radius:5px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 230px;
      height: 200px;
      margin-left: -6rem;
      top: 33px;
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-options {
      display: block;
    }
    
    .dropdown-options a {
      color: #000000;
      text-decoration: none;
      padding:0 10px;
      font-size: medium;
    }
  
    .orderIcon {
      margin-top: 20px;
      display: flex;
    }
    .orderIcon img {
      width: 20px;
      object-fit: contain;
      margin-left: 20px;
    }
  
    hr{
      width: 90%;
      margin-top: 15px;
    }
    .dropdown-options button {
      border:none;
    border-radius:7px;
    padding:13px 57px;
    font-size:18px;
    cursor:pointer;
    margin: 0 25px;
    background-color: var(--hoverTextColor);
    color: #fff;
    }
    .dropdown-options h4 {
      margin-left: 20px;
      margin-bottom: 0;
      margin-top: 20px;
    }
    .dropdown-options > p{
      font-size: small;
      width: 90%;
      margin-left: 20px;
      margin-top: 6px;
    }
    .profileIcon>img{
        width: 40px;
        height: auto;
        margin-top: 30px;
        margin-left: -8px;
    }

    #left1{
        background-color: rgb(240, 251, 255);
    }
    #left1>h1{
        margin-left: 30px;
        margin-top: 30px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #specs{
        width: 85%;
        height: 50px;
        margin: auto;
        /* border: 1px solid black; */
        margin-top: 50px;
        background-color: white;
        display: flex;
        justify-content: space-between;   
    }
    #specs>div{
        width: 30%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .a>div{
        width: 27px;
        height: auto;
        border-radius: 50px;
        background-color: palevioletred;
        border-right: 1px solid purple;
    }
    .a>div>img{
        width: 95%;
        height: auto;
    }
    .button{
        background-color: rgb(176, 63, 141);
        width: 70%;
        height: 40px;
        border-radius: 5px;
        border: 0px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 35px;
        font-size: large;
        left: 1%;
        margin-left: 30px;
    }
     
    #top_categories{
        display: flex;
        justify-content: space-around;
    }
    #top_categories>div{
        width: 130px;
        height: 1px;
        border: 1px solid gray;
        align-items: center;
        margin-top: 6%;
        background-color: gray;
        border-radius: 5px;
    }
    #top_categories>h1{
        margin-top: 3%;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #womenswear{
        width: 350px;
        height: 380px;
        margin-top: 10px;
        margin-left: -7px;
        border-radius: 5px;
    }

    #menswear{
        width: 250px;
        height: 250px;
        margin-top: 140px;
        border-radius: 5px;
    }

    #kidswear{
        width: 250px;
        height: 250px;
        margin-top: 140px;
        border-radius: 5px;   
    }


    /* *******************************From Here Item Div CSS work start Mid-Section ******************************************************* */

#heading{
    width: 75%;
    height: auto;
    margin: auto;
    text-align: left;   
    margin-top: 3%;
   }
   
   #mid-section{
       width: 85%;
       height: auto;
       /* border: 1px solid black; */
       margin: auto;
       margin-top: 3%;
       display: flex;
       gap: 15px;
   }

   #filter-div{
       width: 20%;
       height: 900px;
       border: 1px solid blue;
       display: grid;
       /* grid-template-columns: repeat(4,1fr);
       gap: 10px 10px; */
   }
   #item-div{
       width: 85%;
       height: 100%;
       /* border: 1px solid red; */
   }
   
   #leftside{
       width: 45%;
       height: 90%;
       border: 1px solid black;
   }
   #leftside>img{
       width: auto;
       height: 100%;
   }
   
   
   #rightside{
       width: 45%;
       height: 90%;
       /* border: 1px solid black; */
   }

   .card-list{
     border: 1px solid black;
     border-radius: 5px;
     background-color: bisque;
   }

   .image-div{
    width: 90%;
    height: 70px;
    margin: auto;
   }

   .image-div>img{
    border-radius: 5px;
    /* margin: auto; */
   }

   .renderItem{
    height: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px 10px;
    /* padding: 2%; */
   }


   .general{
    margin-top: 20px;
    color: white;
   }