.footer_main{
    width: 90%;
    height: 250px;
    margin: auto;
    display: flex;
}
.footer_main>div{
    width: 35%;
    height: 100%;
    margin: auto;
}
#footer_imgs{
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#footer_imgs>div{
    width: 47%;
    height: 40px;
}
#carees{
    display: flex;
}
#carees>div{
    height: 200px;
    width: 50%;
}
#contact{
    display: flex;
    justify-content: space-between;
}
#contact>div{
    height: 200px;
    width: 48%;
}
#logos_imgs{
    display: flex;
    gap: 5%;
}
#logos_imgs>div{
    height: 35px;
    width: 15%;

}
#font_text>p{
    font-size: 12px;
}
#shadow{
    width: 90%;
    height: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding-top: 5px;
}
#shadow>div{
    width: 95%;
    margin: auto;
    padding-bottom: 10px;
}
#shadow>div>h3:nth-child(2){
    padding-top: 15px;
}
p span{
    color: #f980ab;
    cursor: pointer;
}
#shadow hr{
    width: 100%;
}

/* for small screen */
@media only screen and (min-width: 100px) and (max-width: 450px) {
     .footer_main{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-right: 600px;
    } 
    #shadow{
        margin-top: 250px;
    }
}
/* for medium screen */
@media only screen and (min-width: 450px) and (max-width: 800px) {
    .footer_main{
       display: flex;
       flex-direction: column;
       height: auto;
       margin-right: 600px;
   } 
   #shadow{
       margin-top: 100px;
   }
}