.lowestpriceContainer {
    display: flex;
    margin: 50px auto;
    max-width: 1100px;
  }
  .lowestpriceContainer h1 {
    font-size: 40px;
    margin: 0;
    color: rgb(36, 31, 31);
  }
  .lowestPrice_text {
    width: 50%;
    padding: 25px 0 0 25px;
  }
  .lowestPrice_image {
    width: 50%;
  }
  .lowestPrice_icon {
    width: 30px;
    border-radius: 40px;
    background-color: rgb(238, 133, 187);
  }
  .lowestPriceWhay {
    display: flex;
    height: 50px;
    margin: 20px 0;
  }
  .lowestPriceItem {
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-right: 2px solid #ccc;
  }
  .lowestPriceItem p {
    padding-left: 10px;
  }
  .downloadApp_contianer {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
  }
  .downloadApp_contianer p {
    padding: 0px 20px;
  }
  
  /*Top Categories*/
  
  .topCategoriesFrom {
    width: 1100px;
    margin: auto;
  }
  .topCategoriesHeading {
    display: flex;
    align-items: center;
  }
  .horizontalLine {
    padding: 1px;
    background-color: var(--hoverTextColor);
    width: 40%;
  }
  .topCategoriesHeading h1 {
    width: max-content;
    width: 1050px;
    color: rgb(8, 8, 8);
    font-size: 38px;
    margin: 0;
    padding-left: 20px;
  }
  .topCategoreisImage {
    width: 100%;
    height: 500px;
    background-image: url("https://images.meesho.com/images/marketing/1649759774600.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
  }
  .topCategoreisImage img {
    max-width: 300px;
    margin: 10px;
    bottom: 0;
  }
  .topCategoreisImage img:first-child {
    max-width: 400px;
  }
  
  /****/
  .essentialContaienr {
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("https://images.meesho.com/images/marketing/1664343269674.jpg");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .essentialContaienr img {
    max-width: 180px;
  }
  
  .essential_item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .essen-btn {
    margin-left: 100px;
    margin-top: 20px;
  }
  
  .essentialContaienr1 {
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("https://images.meesho.com/images/pow/downloadBannerDesktop.webp");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .essential_item1 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 372px;
    margin-top: 30px;
  }
  .essential_item1 img {
    width: 200px;
    padding: 10px;
  }
  .resell2 {
    color: var(--hoverTextColor);
    padding-bottom: 20px;
    text-align: end;
  }
  .resell1 {
    color: rgb(85, 133, 248);
  }
  
  .Products4u {
    width: 100%;
    height: auto;
    margin-top: 5%;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .main-div {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin-top: 5%;
    display: flex;
    gap: 20px;
  }
  .left-div {
    width: 20%;
    height: 1000px;
    border: 1px solid black;
  }
  
  .right-div {
    width: 80%;
    height: auto;
    /* border: 1px solid rgb(233, 56, 56); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    /* padding: 2%; */
    /* padding-top: 2%;
      padding-bottom: 2%; */
  }
  .inner-div {
    width: 98%;
    height: 96%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
  }
  /* .right-div > div {
    border: 4px solid rgb(4, 1, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
  } */
  
  .inner-div-img {
    width: 100%;
    height: 200px;
    margin: auto;
    /* border: 2px solid rgb(87, 8, 21); */
  }
  .inner-div-img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .title {
    margin-left: 3%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  .price {
    /* margin-left: 3%; */
    color: rgb(51, 51, 51);
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: larger;
    font-size: 24px;
    line-height: 32px;
    
    
  }
  
  .span {
    color: rgb(165, 156, 156);
    font-size: small;
    margin-left: 2%;
  }
  
  .free {
    width: 100px;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 5px;
    color: rgb(105, 99, 99);
    background-color: rgb(236, 223, 223);
    font-size: smaller;
    padding: 2%;
    margin-left: 3%;
    margin-top: -5px;
  }
  
  .rating {
    width: 70px;
    height: 30px;
    color: white;
    margin-top: 4%;
    padding: 2%;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 10px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
  }
  
  .div2 {
    width: 90%;
    height: auto;
    /* margin-top: 4%; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: 10px;
  }

  .inner-div-img img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }