body {
    font-family: sans-serif;
  }

  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .form {
    padding: 20px; 
    background-color: rgb(244, 51, 151); 
    border-radius: 5px; 
    box-shadow: 0 0 10px #ccc; 
    color: #fff;
  }

  .form input[type="text"], .form input[type="number"] { 
    width: 90%; 
    padding: 10px; 
    margin-bottom: 10px; 

  }

  @media (max-width: 700px) {

      .container { width: 90%; }

      .form input[type="text"], .form input[type="number"] { width: 90%; }

  }