#top_div{
    width: 70%;
    height: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#sold>img{
    width: 50px;
}
#photo{
    width: 40%;
    height: 800px;
    margin-left: 40px;
    
}
#subimg{
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    width: 90%;
}
#item_img{
    width: 90%;
}
#details{
    /* border: 1px solid black; */
    width: 50%;
    height: 1000px;
}
#photo img{
    height: 500px;
    margin-left: 20px;
}
button{
    padding: 10px 50px 10px 50px ;
    margin: 20px;
    font-size: 15px;
    border-radius: 5px;
}
#btn{
    background-color: #f43397;
    color: white;
    border: none;
}
#btns{
    display: flex;
}
#product{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
}
#size{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 120px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 5px;
}
#btnsize{
    display: flex;
}
#btnsize button{
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    border-width: 1px;
}
#three{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 250px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 5px;
}
#four{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 5px;
}
#four>h3{
margin-left: 10px;
}
#five{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 280px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 5px;
}
/* #rr{
    border: 1px solid black;
} */
 #dot{
    width: 20%;
    margin-right: 20px;
    margin: auto;
    justify-content: center;
}
#colors{
    width: 90%;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: center; 
} 
.row{
    width: 70%;
    height: 200px;
    margin-left: 5px;
    padding-top: 15px;
}
.side{
    float: left; 
    width: 20%;
    margin-top: 10px;
    margin-right: 5px;
}
.middle{
    float: left; 
    width: 40%;
    margin-top: 10px; 
}
.right{
    text-align: right;
}
.row:after{
    content: "";
    display: table;
    clear: both;
    margin-left: 5px;
}

header {
    height: 75px;
    border-bottom: 0.1px solid grey;
    padding: 0 10px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
  }
  nav {
    position: fixed;
    z-index: 1;
    background-color: white;
  }
.bar-container{
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.bar-5{width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4{width: 30%; height: 18px; background-color: #2196F3;}
.bar-3{width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2{width: 4%; height: 18px; background-color: #ff9800;}
.bar-1{width: 15%; height: 18px; background-color: #f44336;}
#sold{
    display: flex;
}
#six{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 150px;
    margin-bottom: 10px;
    padding: 35px;
    background-color: rgb(231,238,255);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
#six>div>img{
    margin-left: 20px;
    width: 50px;
}
#seven{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 50px;
    display: flex;
    border-radius: 5px;
    margin: auto;
    justify-content: center;
}
#bottom{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 85%;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    border-radius: 5px;
    
}
#people{
    margin-left: 7.5%;
}

/* rough see */

.inner-div {
    width: 98%;
    height: 96%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
  }
  /* .right-div > div {
    border: 4px solid rgb(4, 1, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
  } */
  
  .inner-div-img {
    width: 100%;
    height: 200px;
    margin: auto;
    /* border: 2px solid rgb(87, 8, 21); */
  }
  .inner-div-img img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .title {
    margin-left: 3%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  .price {
    /* margin-left: 3%; */
    color: rgb(51, 51, 51);
    font-weight: bolder;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: larger;
    font-size: 24px;
    line-height: 32px;
    
    
  }
  
  .span {
    color: rgb(165, 156, 156);
    font-size: small;
    margin-left: 2%;
  }
  
  .free {
    width: 100px;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 5px;
    color: rgb(105, 99, 99);
    background-color: rgb(236, 223, 223);
    font-size: smaller;
    padding: 2%;
    margin-left: 4%;
  }
  
  .rating {
    width: 70px;
    height: 30px;
    color: white;
    margin-top: 4%;
    padding: 2%;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 10px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgb(35, 187, 117);
    fill: rgb(255, 255, 255);
  }
  
  .div2 {
    width: 90%;
    height: auto;
    /* margin-top: 4%; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: 10px;
  }
  #cartBtn{
    background-color: #f43397;
    color: white;
    border: none;
  }